#card-placement img {
    width: 100px;
}

.card-layout {
    display: flex;
    align-items: center;
}

.card-layout img {
    margin: 10px;
    background: white;
}

.left-group {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.center-cards {
    display: flex;
}

.card-stack {
    width: 150px;
    height: 160px;

    margin-left: 20px;
    margin-right: 20px;
}

.right-group {
    display: flex;
    flex-direction: column-reverse;
}

#card-1 {
    position: relative;
    left: 15px;
}

#card-2 {
    position: relative;
    top: -160px;
    left: 20px;
    transform: rotate(90deg);
}
